.page {
	width: 350px;
	height: 250px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	border: 3px solid #ECECEC;
	-webkit-border-radius: 10px;
	padding: 30px 30px;
	font-family: "Open Sans", Verdana, sans-serif;
	color: #5F5F5F;
}

.content {
	margin-bottom: 20px;
}

.contentElement {
	text-align: left;
	height: 80px;
}

.textInput {
	font-weight: bold;
	margin-bottom: 10px;
	text-align: left;
}

.textOutput {
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

.input {
	margin-bottom: 10px;
}

.description {
	font-size: 12px;
}

.input input {
	width: 330px;
	border: 1px solid #CCC;
	padding: 5px 10px;
	font-size: 1em;
	-webkit-border-radius: 4px;
	display: block;
}

.buttons input {
	color: white;
	border: 1px solid #5F5F5F;
	background: #5F5F5F;
	font-weight: bold;
	padding: 7px 9px 7px 9px;
	border-radius: .5em;
}

.error {
	color: red;
	float: right;
}

.image {
	text-align: center;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}